@model HomeViewModel

<!--=============== HOME ===============-->

<section class="home section--lg">
    <div class="home__container container grid">
        <div class="home__content">
            <span class="home__subtitle">Hot Promotions</span>
            <h1 class="home__title">
                Fashion Trending <span>Great Collection</span>
            </h1>
            <p class="home__description">
                Save more with coupons & up tp 20% off
            </p>
            <a asp-action="ShopNow" class="btn">Shop Now</a>
        </div>
        <img src="~/image/home-img.png" class="home__img" alt="hats" />
    </div>
</section>

<<!--=============== MAIN SHOP SECTION ===============-->
<section class="shop container section">
    <div class="shop__layout">

        <!-- Main Content: Products -->
        <div class="products__main">
            <div class="tab__btns">
                <span class="tab__btn active-tab" data-target="#featured">Featured</span>
                <span class="tab__btn" data-target="#popular">Popular</span>
                <span class="tab__btn" data-target="#new-added">New Added</span>
            </div>

            <div class="tab__items">
                <div class="tab__item active-tab" content id="featured">
                    <div class="products__container grid">
                        <!-- Example product item -->
                        @foreach (var item in Model.Products )
                        {

                            <div class="product__item">
                                <div class="product__banner">
                                    <a href="details.html" class="product__images">
                                        @{
                                            int imageCount = 0;
                                        }

                                        @foreach (var image in item.Images)
                                        {
                                            if (imageCount >= 2)
                                            {
                                                break;
                                            }

                                            if (image.IsPrimary)
                                            {
                                                <img src="~/image/@image.ImageUrl" alt="" class="product__img default" />
                                            }
                                            else
                                            {
                                                <img src="~/image/@image.ImageUrl" alt="" class="product__img hoverproduct__img hover" />
                                            }

                                            imageCount++;
                                        }


                                    </a>
                                    <div class="product__actions">
                                        <a asp-action="ProductDetials" asp-route-id="@item.Id" class="action__btn" aria-label="Quick View">
                                            <i class="fi fi-rs-eye"></i>
                                        </a>
                                        <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                            <i class="fi fi-rs-heart"></i>
                                        </a>
                                        <a href="#" class="action__btn" aria-label="Compare">
                                            <i class="fi fi-rs-shuffle"></i>
                                        </a>
                                    </div>
                                    @if (item.Tag == "New")
                                    {
                                        <div class="product__badge light-green">@item.Tag</div>
                                    }
                                    else if (item.Tag == "BestSeller")
                                    {
                                        <div class="product__badge light-orange">@item.Tag</div>
                                    }
                                    else if (item.Tag == "Trending")
                                    {
                                        <div class="product__badge light-blue">@item.Tag</div>
                                    }
                                    else
                                    {
                                        <div class="product__badge light-pink">@item.Tag</div>
                                    }
                                </div>
                                <div class="product__content">
                                    <span class="product__category">@item.SubCategoryName</span>
                                    <a href="details.html">
                                        <h3 class="product__title">@item.Name</h3>
                                    </a>
                                    <div class="product__rating">
                                        @{
                                            int SartNumber = (int?)(item?.Reviews?.Average(c => (double?)c.Rating)) ?? 0;
                                        }

                                        @for (int i = 1; i <=5; i++)
                                        {
                                            if (i < SartNumber)
                                            {
                                                <i class="fa fa-star checked"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        }

                                    </div>
                                    <div class="product__price flex">
                                        <span class="new__price">$@(item?.Price - (item?.Price * item?.Discount / 10)) </span>
                                        <span class="old__price">$@item?.Price</span>
                                    </div>
                                    <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                                        <i class="fi fi-rs-shopping-bag-add"></i>
                                    </a>
                                </div>
                            </div>
                        }

                        <!-- End Product Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--=============== DEALS ===============-->
<section class="deals section">
    <div class="deals__container container grid">
        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Deals of the Day</h3>
                <span class="deals__category">Limited quantities</span>
            </div>
            <h4 class="deals__title">Summer Collection New Modern Design</h4>
            <div class="deals__price flex">
                <span class="new__price">$139.00</span>
                <span class="old__price">$160.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry Up! Offer Ends In:</p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Days</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Hours</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">57</p>
                        <span class="unit">Mins</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">28</p>
                        <span class="unit">Sec</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="details.html" class="btn btn--md">Shop Now</a>
            </div>
        </div>
        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Women Clothing</h3>
                <span class="deals__category">Shirts & Bag</span>
            </div>
            <h4 class="deals__title">Try Something new on vacation</h4>
            <div class="deals__price flex">
                <span class="new__price">$178.00</span>
                <span class="old__price">$256.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry Up! Offer Ends In:</p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Days</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Hours</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">57</p>
                        <span class="unit">Mins</span>
                    </div>
                    <div class="countdown__amount">
                        <p class="countdown__period">28</p>
                        <span class="unit">Sec</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="details.html" class="btn btn--md">Shop Now</a>
            </div>
        </div>
    </div>
</section>

<!--=============== NEW ARRIVALS ===============-->
<section class="new__arrivals container section">
    <h3 class="section__title"><span>New</span> Arrivals</h3>
    <div class="new__container swiper">
        <div class="swiper-wrapper">


            @foreach(var item in Model.NewArrivalsProducts )
            {
                <div class="product__item swiper-slide">
                    <div class="product__banner">
                        <a href="details.html" class="product__images">
                            @{
                                int imageCount = 0;
                            }
                            @foreach (var image in item.Images)
                            {
                                if (imageCount >= 2)
                                {
                                    break;
                                }
                                if (image.IsPrimary)
                                {
                                    <img src="~/image/@image.ImageUrl" alt="" class="product__img default" />
                                }
                                else
                                {
                                    <img src="~/image/@image.ImageUrl" alt="" class="product__img hoverproduct__img hover" />
                                }

                                imageCount++;
                            }

                        </a>
                        <div class="product__actions">
                            <a asp-action="PoductDetials" asp-route-id="{@item.Id}" class="action__btn" aria-label="Quick View">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                <i class="fi fi-rs-heart"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Compare">
                                <i class="fi fi-rs-shuffle"></i>
                            </a>
                        </div>
                        <div class="product__badge light-pink">@item.Tag</div>
                    </div>
                    <div class="product__content">
                        <span class="product__category">@item.SubCategoryName</span>
                        <a href="details.html">
                            <h3 class="product__title">@item.Name</h3>
                        </a>
                        <div class="product__rating">
                            @{
                                int SartNumber = (int?)(item?.Reviews?.Average(c => (double?)c.Rating)) ?? 0;
                            }

                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i < SartNumber)
                                {
                                    <i class="fa fa-star checked"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                        <div class="product__price flex">
                            <span class="new__price">$$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                        <a href="#"
                        class="action__btn cart__btn"
                        aria-label="Add To Cart">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<!--=============== SHOWCASE ===============-->
<section class="showcase section">
    <div class="showcase__container container grid">
        <div class="showcase__wrapper">
            <h3 class="section__title">Hot Releases</h3>
            @foreach (var item in Model.HotRelease)
            {
                <div class="showcase__item">
                    <a href="details.html" class="showcase__img-box">
                        @foreach(var image in item.Images)
                        {
                            if(image.IsPrimary)
                            {
                                <img src="~/image/@image.ImageUrl"
                                     alt=""
                                     class="showcase__img" />
                            }  
                        }
                        
                    </a>
                    <div class="showcase__content">
                        <a href="details.html">
                            <h4 class="showcase__title">
                                @item.Name
                            </h4>
                        </a>
                        <div class="showcase__price flex">
                            <span class="new__price">$$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                    </div>
                </div>
                
            }
           
         
        </div>
        <div class="showcase__wrapper">
            <h3 class="section__title">Deals & Outlet</h3>
            @foreach (var item in Model.BestDeal)
            {
                <div class="showcase__item">
                    <a href="details.html" class="showcase__img-box">
                        @foreach (var image in item.Images)
                        {
                            if (image.IsPrimary)
                            {
                                <img src="~/image/@image.ImageUrl"
                                     alt=""
                                     class="showcase__img" />
                            }
                        }

                    </a>
                    <div class="showcase__content">
                        <a href="details.html">
                            <h4 class="showcase__title">
                                @item.Name
                            </h4>
                        </a>
                        <div class="showcase__price flex">
                            <span class="new__price">$$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                    </div>
                </div>

            }


        </div>
        <div class="showcase__wrapper">
            <h3 class="section__title">Top Selling</h3>
            @foreach (var item in Model.TopSelling)
            {
                <div class="showcase__item">
                    <a href="details.html" class="showcase__img-box">
                        @foreach (var image in item.Images)
                        {
                            if (image.IsPrimary)
                            {
                                <img src="~/image/@image.ImageUrl"
                                     alt=""
                                     class="showcase__img" />
                            }
                        }

                    </a>
                    <div class="showcase__content">
                        <a href="details.html">
                            <h4 class="showcase__title">
                                @item.Name
                            </h4>
                        </a>
                        <div class="showcase__price flex">
                            <span class="new__price">$$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                    </div>
                </div>

            }


        </div>
        <div class="showcase__wrapper">
            <h3 class="section__title">Trendy</h3>
            @foreach (var item in Model.Trending)
            {
                <div class="showcase__item">
                    <a href="details.html" class="showcase__img-box">
                        @foreach (var image in item.Images)
                        {
                            if (image.IsPrimary)
                            {
                                <img src="~/image/@image.ImageUrl"
                                     alt=""
                                     class="showcase__img" />
                            }
                        }

                    </a>
                    <div class="showcase__content">
                        <a href="details.html">
                            <h4 class="showcase__title">
                                @item.Name
                            </h4>
                        </a>
                        <div class="showcase__price flex">
                            <span class="new__price">$$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
