@using e_commerce.Web.ViewModels.Home


@model ShopViewModel

<!--=============== PRODUCTS ===============-->

<section class="products container section--lg" style="display:flex">
    <div class="filters-container">
        <form method="get" asp-action="ShopNow">
            <div class="filters">
                <!-- Price Filter -->
                <div class="filter-group">
                    <h3 class="filter-title">Price</h3>
                    <div class="price-range">
                        <input type="range" id="PriceFilter" name="PriceFilter" min="0" max="1000" value="@Model.PriceFilter" step="10">
                    </div>
                    <div class="price-values">
                        <span id="min-price-value">$0</span>
                        <span id="userInput"> @Model.PriceFilter </span>
                        <span id="max-price-value">$1000</span>
                    </div>
                </div>

                <!-- Brand Filter -->
                <div class="filter-group">
                    <div class="brand-options">
                        <h3 class="filter-title">Brand</h3>
                        <ul>
                            @foreach (var brand in Model.Brands)
                            {
                                <li>
                                    <div class="checkbox-option">
                                        <input type="checkbox" id="brand-@brand" name="BrandFilter" value="@brand"
                                        @(Model.BrandFilter != null && Model.BrandFilter.Contains(brand) ? "checked" : "") />
                                        <label for="brand-@brand">@brand</label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>


                <!-- Tag Filter -->
                <div class="filter-group">
                    <h3 class="filter-title">Tags</h3>
                    <div class="tag-options">
                        @foreach (var tager in Model.tagers)
                        {
                            <div class="checkbox-option">
                                <input type="checkbox" id="brand-@tager.Id" name="TagFilter" value="@tager.Id"
                                @(Model.TagFilter != null && Model.TagFilter.Contains(tager.Id) ? "checked" : "")>
                                <label for="tag-new">@tager.Name</label>
                            </div>
                        }

                       
                       
                    </div>
                </div>
                <!-- Hidden fields for other properties -->
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <input type="hidden" name="SubCategoryId" value="@Model.SubCategoryId" />

                <button id="apply-filters" class="btn-try btn-primary">Apply Filters</button>

                <a href="@Url.Action("ShopNow", "Home")" id="reset-filters" class="btn-try btn-secondary">Reset</a>
            </div>

        </form>
    </div>
    
    <div style="margin:20px">
        <p class="total__products">We found <span>@Model.productCount</span> items for you!</p>

        <div class="products__container grid">
            @foreach (var item in Model.Products)
            {
                <div class="product__item">
                    <div class="product__banner">
                        <a href="details.html" class="product__images">
                            @{
                                int imageCount = 0;
                            }

                            @foreach (var image in item.Images)
                            {
                                if (imageCount >= 2)
                                {
                                    break;
                                }

                                if (image.IsPrimary)
                                {
                                    <img src="~/image/@image.ImageUrl" alt="" class="product__img default" />
                                }
                                else
                                {
                                    <img src="~/image/@image.ImageUrl" alt="" class="product__img hoverproduct__img hover" />
                                }

                                imageCount++;
                            }

                        </a>
                        <div class="product__actions">
                            <a asp-action="ProductDetials" asp-route-id="@item.Id" class="action__btn" aria-label="Quick View">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a data-product-id="@item.Id" class="action__btn add-to-wishlist" aria-label="Add to Wishlist">
                                <i class="fi fi-rs-heart"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Compare">
                                <i class="fi fi-rs-shuffle"></i>
                            </a>
                        </div>
                        @if (item.Tag == "New")
                        {
                            <div class="product__badge light-green">@item.Tag</div>
                        }
                        else if (item.Tag == "BestSeller")
                        {
                            <div class="product__badge light-orange">@item.Tag</div>
                        }
                        else if (item.Tag == "Trending")
                        {
                            <div class="product__badge light-blue">@item.Tag</div>
                        }
                        else
                        {
                            <div class="product__badge light-pink">@item.Tag</div>
                        }
                    </div>
                    <div class="product__content">
                        <span class="product__category">@item.SubCategoryName</span>
                        <a href="details.html">
                            <h3 class="product__title">@item.Name</h3>
                        </a>
                        <div class="product__rating">
                            @{
                                int SartNumber = (int?)(item?.Reviews?.Average(c => (double?)c.Rating)) ?? 0;
                            }

                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i < SartNumber)
                                {
                                    <i class="fa fa-star checked"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                        <div class="product__price flex">
                            <span class="new__price">$@(item?.Price - ((item?.Discount / 100) * item?.Price))</span>
                            <span class="old__price">$@item?.Price</span>
                        </div>
                        <a data-product-id="@item.Id" class="action_btn cart_btn add-to-cart" aria-label="Add To Cart">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
   
   
</section>
<ul class="pagination" id="pagination"
    BrandFilter="@string.Join(",", Model.BrandFilter ?? new List<string>())"
    PriceFilter="@Model.PriceFilter"
    TagFilter="@(Model.TagFilter != null ? string.Join(",", Model.TagFilter) : "")"
    SubCategoryId="@Model.SubCategoryId"
    CategoryId="@Model.CategoryId"
    TotalPages="@Model.TotalPages"
    currentPage="@Model.PageNumber"
    Name="@Model.Name">
</ul>

